body{               /*ページ全体のフォント指定*/
  font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    margin:0;
}

#start_header{  /*ヘッダー部*/
  width: 90px;
  height: 40.8px;
  background-color: #2670A5;
  color: white;
  font-weight: bold;
}

#start_image{       /*がぞうの比率指定*/
  z-index:-1;
  position: absolute;
  height: 85%;
  width: 100%;
}

#main{
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9000px;
}

#start_position{    /*イキリオタクの表示位置指定*/
  z-index:2;
  position:absolute;
  top: 13vw;
  left: 8vw;
  color: white;
  font-size: 4vw;
  font-weight: lighter;
}

#start2_position{   /*君の凄さを～の表示位置指定*/
  z-index:2;
  position:absolute;
  top: 21vw;
  left: 8vw;
  color: #DDDDDD;
  font-size: 2vw;
  font-weight: lighter;
}

#start_botan{ /*始めようボタン*/
  z-index:2;
  position:absolute;
  top: 30vw;
  left: 13.5vw;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  font-size: 2vw;/*文字サイズ*/
  border:solid #83B93B 0.2vw; /*線で囲う*/
  /*文字と線の間の余白*/
  padding-top: 0.025vw;
  padding-bottom: 0.025vw;
  padding-left:0.7vw;
  padding-right:0.7vw;
  color: white;/*文字色*/
  background-color: #83B93B;
  text-decoration: none;/*下線を表示させない*/
/*丸角*/
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
}

#start_botan:hover{　/*マウスを重ねた時の動作*/
    background: #65902E;
    background: #65902E;
    border:solid #65902E 2px; /*線で囲う*/
}

#start_header2{　/*緑のヘッダー*/
  z-index:1;
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  height:41px;
  width: 100%;
  background-color: #83BA3B;
  font-size: 2.5vw;
  color: white;
  font-weight: bold;   
}

#login_botan{　/*右上のログインボタン*/
  z-index:2;
  width: 90px;
  height:41px;
  position: fixed !important;
  position: absolute;
  top: 0vw;
  right:2%;
  font-size: 22px;
  color: white;
  font-weight: bold;  
  text-decoration: none; 
  /*文字と線の間の余白*/
	display: flex;
	align-items: center;
	justify-content: center;
}

#login_botan:hover{　/*マウスを重ねた時の動作*/
    background: #65902E;
    background: #65902E; /*2個書かないと反映されない不具合*/
}

#ikitter_log{　/*ロゴ*/
  z-index:2;
  width: 120px;
  height:41px;
  position: fixed !important;
  position: absolute;
  top: 0vw;
  left: 0.9vw;
  font-size: 34px;
  color: white;
  font-weight: bold;  
  text-decoration: none; 
  /*文字と線の間の余白*/
 	display: flex;
	align-items: center;
	justify-content: center;
}
#ikitter_log:hover{/*マウスを重ねた時の動作*/
    background: #65902E;　
}


#profile_space{
    z-index:-1;
    position: fixed !important;
    position: absolute;
    top: 5vw;
    left: 2vw;
    width: 300px;
    height: 400px;
    background-color: #FAFAFA;

    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
}

#test{
  
  position: absolute;
  z-index:-5;
  width: 100%;
  height:900000px;
  background-color: gray;
}

#profile_backcolor{
    z-index:-1;
    position: fixed !important;
    position: absolute;
    top: 5vw;
    left: 2vw;
    width: 300px;
    height: 40px;
    background-color: #3BA2C2;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
}

#login_font{
    z-index:-1;
    position: fixed !important;
    position: absolute;
    top: 5.5vw;
    left: 3vw;
    font-size: 22px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#id_input{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 9vw;
  left: 3vw;
  background: #FAFAFA;
  border: none;
  border-bottom: 2px solid #E9E9E9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 30px;
  transition: border-color 0.3s;
  width: 270px;
}

#id_input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

#pass_input{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 12vw;
  left: 3vw;
  background: #FAFAFA;
  border: none;
  border-bottom: 2px solid #E9E9E9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 30px;
  transition: border-color 0.3s;
  width: 270px;
}

#pass_input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

#login_Button{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 16vw;
  left: 3vw;
  background: #3BA2C2;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 270px;
}

#login_Button:hover {
  background: #2f819b;
}