body{               /*ページ全体のフォント指定*/
  font-family: "Yu Gothic";
    margin:0;
}

#start_header{  /*ヘッダー部*/
  width: 90px;
  height: 40.8px;
  background-color: #2670A5;
  color: white;
  font-weight: bold;
}

#start_image{       /*がぞうの比率指定*/
  z-index:-1;
  position: absolute;
  height: 85%;
  width: 100%;
}

#main{
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9000px;
}

#start_position{    /*イキリオタクの表示位置指定*/
  z-index:2;
  position:absolute;
  top: 13vw;
  left: 8vw;
  color: white;
  font-size: 4vw;
  font-weight: lighter;
}

#start2_position{   /*君の凄さを～の表示位置指定*/
  z-index:10;
  position:absolute;
  top: 21vw;
  left: 8vw;
  color: #DDDDDD;
  font-size: 2vw;
  font-weight: lighter;
}

#start_botan{ /*始めようボタン*/
  z-index:2;
  position:absolute;
  top: 30vw;
  left: 13.5vw;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  font-size: 2vw;/*文字サイズ*/
  border:solid #83B93B 0.2vw; /*線で囲う*/
  /*文字と線の間の余白*/
  padding-top: 0.025vw;
  padding-bottom: 0.025vw;
  padding-left:0.7vw;
  padding-right:0.7vw;
  color: white;/*文字色*/
  background-color: #83B93B;
  text-decoration: none;/*下線を表示させない*/
/*丸角*/
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
}
#start_botan:hover{　/*マウスを重ねた時の動作*/
    background: #65902E;
    background: #65902E;
    border:solid #65902E 2px; /*線で囲う*/
}

#start_header2{　/*緑のヘッダー*/
  z-index:10;  /*２個書かないと反映されない死ね*/
  z-index:10; 
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  height:41px;
  width: 100%;
  background-color: #83BA3B;
  font-size: 2.5vw;
  color: white;
  font-weight: bold;   
}

#login_botan{　/*右上のログインボタン*/
  z-index:11;/*２個書かないと反映されない死ね*/
  z-index:11;    
  width: 90px;
  height:41px;
  position: fixed !important;
  position: absolute;
  top: 0vw;
  right:2%;
  font-size: 22px;
  color: white;
  font-weight: bold;  
  text-decoration: none; 
  /*文字と線の間の余白*/
	display: flex;
	align-items: center;
	justify-content: center;
}
#login_botan:hover{　/*マウスを重ねた時の動作*/
    background: #65902E;
    background: #65902E; /*2個書かないと反映されない不具合*/
}

#ikitter_log{　/*ロゴ*/
  z-index:11;/*２個書かないと反映されない死ね*/
  z-index:11;
  width: 120px;
  height:41px;
  position: fixed !important;
  position: absolute;
  top: 0vw;
  left: 0.9vw;
  font-size: 34px;
  color: white;
  font-weight: bold;  
  text-decoration: none; 
  /*文字と線の間の余白*/
 	display: flex;
	align-items: center;
	justify-content: center;
}
#ikitter_log:hover{/*マウスを重ねた時の動作*/
    background: #65902E;　
}

#profile_space{
    z-index:10;
    position: fixed !important;
    position: absolute;
    top: 68px;
    left: 27px;
    width: 300px;
    height: 250px;
    background-color: #FAFAFA;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
    overflow:hidden;
}

#test{
  
  position: absolute;
  z-index:-5;
  width: 100%;
  height:900000px;
  background-color: gray;
}

#profile_backcolor{
    z-index:-1;
    position: fixed !important;
    position: absolute;
    top: 68px;
    left: 27px;
    width: 300px;
    height: 40px;
    background-color: #3BA2C2;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
}

#login_font{
    z-index:-1;
    position: fixed !important;
    position: absolute;
    top: 75px;
    left: 44px;
    font-size: 22px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
    text-decoration: none; 
}

#id_input{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 123px;
  left: 41px;
  background: #FAFAFA;
  border: none;
  border-bottom: 2px solid #E9E9E9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 30px;
  transition: border-color 0.3s;
  width: 270px;
}
#id_input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

#pass_input{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 164px;
  left: 41px;
  background: #FAFAFA;
  border: none;
  border-bottom: 2px solid #E9E9E9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 30px;
  transition: border-color 0.3s;
  width: 270px;
}
#pass_input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

#login_Button{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 219px;
  left: 41px;
  background: #3BA2C2;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 270px;
}
#login_Button:hover {
  background: #2f819b;
}

#forgot_font{
  z-index:0;
  position: fixed !important;
  position: absolute; 
  top: 273px;
  left: 41px;
  font-size: 1em;
  padding: 0.2em 0;
  text-align: center;
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
  width: 270px;
}
#forgot_font:hover {
  border-bottom: 1px dotted #8c8c8c;
}

#jtest{
  z-index:7;
  position: fixed !important;
  position: absolute; 
  top: 20vw;
  left:30vw;
}

#jtest2{
  z-index:7;
  position: fixed !important;
  position: absolute; 
  top: 25vw;
  left:30vw;
}

#pickup0{
    z-index:-1;
    position: absolute;
    top: 67px;
    left: 341px;
    width: 950px;
    height: 500px;
    background-color: #FAFAFA;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
}

#pickup1{
    z-index:-50;
    position: absolute;
    top: 67px;
    left: 341px;
    width: 950px;
    height: 500px;
    background-color: blueviolet;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
	-webkit-border-bottom-left-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    -moz-border-radius-bottomleft: 0.5vw;
}

#pickup_menu_space{
    z-index:4;
    position: absolute;
    top: 67px;
    left: 1093px;
    width: 200px;
    height: 500px;
    background-color: #373737;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
    overflow:hidden;
}

#pickup_menu{
    z-index:4;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 200px;
    height: 600px;
    background-color: red;
	-webkit-border-top-right-radius: 0.5vw;
	-webkit-border-bottom-right-radius: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    -moz-border-radius-bottomright: 0.5vw;
}

#pickup_top{
    z-index:3;
    position: absolute;
    top: 67px;
    left: 341px;
    width: 800px;
    height: 40px;
    background-color: 3BA2C2;
    -webkit-border-top-left-radius: 0.5vw;
	-webkit-border-top-right-radius: 0.5vw;
    -moz-border-radius-topleft: 0.5vw;
    -moz-border-radius-topright: 0.5vw;
    font-size: 22px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

/*-------------------------------------------------------------------------1位----------------------------------------------*/

#pick_img1{
    z-index:3;
    position: absolute;
    top: 107px;
    left: 341px;
    width: 375px;
    height: 120px;
}

#pick_icon1{
    z-index:3;
    position: absolute;
    top: 161px;
    left: 351px;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

#pick_rank1{
    z-index:3;
    position: absolute;
    top: 103px;
    left: 353px;
    width: 65px;
    height: 65px;
}

#pick_bassfont1{
    z-index:5;
    position: absolute;
    top: 110px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 

	justify-content: center;
}

#pick_Category1{
    z-index:5;
    position: absolute;
    top: 110px;
    left: 520px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}
#rank_id1{
  z-index:5;
  position: absolute; 
  top: 165px;
  left: 420px;
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#rank_name1{
    z-index:5;
    position: absolute;
    top: 135px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#rank_score1{
  z-index:5;
  position: absolute; 
  top: 195px;
  left: 425px;
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

#rank_mask1{
    z-index:4;
    position: absolute;
    top: 107px;
    left: 416px;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

#rank_linkmask1{
    z-index:6;
    position: absolute;
    top: 107px;
    left: 341px;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

#a_link1{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

#a_link1:hover{
    background-color: rgba(250,250,250,0.2);
}

/*-----------------------------------------------------------------------------2位-------------------------------------------*/

#pick_img2{
    z-index:3;
    position: absolute;
    top: 107px;
    left: 716px;
    width: 378px;
    height: 120px;
}

#pick_icon2{
    z-index:3;
    position: absolute;
    top: 161px;
    left: 725px;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

#pick_rank2{
    z-index:3;
    position: absolute;
    top: 103px;
    left: 728px;
    width: 65px;
    height: 65px;
}

#pick_bassfont2{
    z-index:5;
    position: absolute;
    top: 110px;
    left: 795px;
    font-size: 20px;
    color: white;
    font-weight: bold; 

	justify-content: center;
}

#pick_Category2{
    z-index:5;
    position: absolute;
    top: 110px;
    left: 895px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}
#rank_id2{
  z-index:5;
  position: absolute; 
  top: 165px;
  left: 795px;
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#rank_name2{
    z-index:5;
    position: absolute;
    top: 135px;
    left: 795px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#rank_score2{
  z-index:5;
  position: absolute; 
  top: 195px;
  left: 795px;
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

#rank_mask2{
    z-index:4;
    position: absolute;
    top: 107px;
    left: 793px;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

#rank_linkmask2{
    z-index:6;
    position: absolute;
    top: 107px;
    left: 716px;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

#a_link2{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

#a_link2:hover{
    background-color: rgba(250,250,250,0.2);
}
/*---------------------------------------------------------------------------------3位-----------------------------------------*/


#pick_img3{
    z-index:3;
    position: absolute;
    top: 227px;
    left: 341px;
    width: 375px;
    height: 120px;
}

#pick_icon3{
    z-index:3;
    position: absolute;
    top: 281px;
    left: 351px;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

#pick_rank3{
    z-index:3;
    position: absolute;
    top: 223px;
    left: 353px;
    width: 65px;
    height: 65px;
}

#pick_bassfont3{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 

	justify-content: center;
}

#pick_Category3{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 520px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}
#rank_id3{
  z-index:5;
  position: absolute; 
  top: 285px;
  left: 420px;
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#rank_name3{
    z-index:5;
    position: absolute;
    top: 255px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#rank_score3{
  z-index:5;
  position: absolute; 
  top: 315px;
  left: 425px;
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

#rank_mask3{
    z-index:4;
    position: absolute;
    top: 227px;
    left: 416px;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

#rank_linkmask3{
    z-index:6;
    position: absolute;
    top: 227px;
    left: 341px;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

#a_link3{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

#a_link3:hover{
    background-color: rgba(250,250,250,0.2);
}

/*---------------------------------------------------------------------4位----------------------------------------------*/
#pick_img4{
    z-index:3;
    position: absolute;
    top: 227px;
    left: 716px;
    width: 378px;
    height: 120px;
}

#pick_icon4{
    z-index:3;
    position: absolute;
    top: 281px;
    left: 725px;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

#pick_rank4{
    z-index:3;
    position: absolute;
    top: 223px;
    left: 728px;
    width: 65px;
    height: 65px;
}

#pick_bassfont4{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 795px;
    font-size: 20px;
    color: white;
    font-weight: bold; 

	justify-content: center;
}

#pick_Category4{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 895px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}
#rank_id4{
  z-index:5;
  position: absolute; 
  top: 285px;
  left: 795px;
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#rank_name4{
    z-index:5;
    position: absolute;
    top: 255px;
    left: 795px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#rank_score4{
  z-index:5;
  position: absolute; 
  top: 315px;
  left: 795px;
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

#rank_mask4{
    z-index:4;
    position: absolute;
    top: 227px;
    left: 793px;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

#rank_linkmask4{
    z-index:6;
    position: absolute;
    top: 227px;
    left: 716px;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

#a_link4{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

#a_link4:hover{
    background-color: rgba(250,250,250,0.2);
}
/*---------------------------------------------------------------------5位----------------------------------------------*/


#pick_img5{
    z-index:3;
    position: absolute;
    top: 347px;
    left: 341px;
    width: 375px;
    height: 120px;
}

#pick_icon5{
    z-index:3;
    position: absolute;
    top: 281px;
    left: 351px;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

#pick_rank5{
    z-index:3;
    position: absolute;
    top: 223px;
    left: 353px;
    width: 65px;
    height: 65px;
}

#pick_bassfont5{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 

	justify-content: center;
}

#pick_Category5{
    z-index:5;
    position: absolute;
    top: 230px;
    left: 520px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}
#rank_id5{
  z-index:5;
  position: absolute; 
  top: 285px;
  left: 420px;
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



#rank_name5{
    z-index:5;
    position: absolute;
    top: 255px;
    left: 420px;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

#rank_score5{
  z-index:5;
  position: absolute; 
  top: 315px;
  left: 425px;
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

#rank_mask5{
    z-index:4;
    position: absolute;
    top: 227px;
    left: 416px;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

#rank_linkmask5{
    z-index:6;
    position: absolute;
    top: 227px;
    left: 341px;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

#a_link5{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

#a_link5:hover{
    background-color: rgba(250,250,250,0.2);
}

/*-------------------------------------------------------------test------------------------------------*/

.pick_img{
    z-index:3;
    width: 376px;
    height: 120px;
}

.pick_icon{
    z-index:3;
    position: absolute;
    width: 65px;
    height: 65px;
    -webkit-border-top-left-radius: 1.3vw;
	-webkit-border-top-right-radius: 1.3vw;
	-webkit-border-bottom-right-radius: 1.3vw;
	-webkit-border-bottom-left-radius: 1.3vw;
    -moz-border-radius-topleft: 5vw;
    -moz-border-radius-topright: 5vw;
    -moz-border-radius-bottomright: 5vw;
    -moz-border-radius-bottomleft: 5vw;
}

.pick_rank{
    z-index:3;
    position: absolute;
    width: 65px;
    height: 65px;
}
.pick_bassfont{
    z-index:5;
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold; 
	justify-content: center;
}

.pick_Category{
    z-index:5;
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

.rank_id{
  z-index:5;
  position: absolute; 
  font-size: 20px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}



.rank_name{
    z-index:5;
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    display: flex;
	align-items: center;
	justify-content: center;
}

.rank_score{
  z-index:5;
  position: absolute; 
  font-size: 32px;
  height: 20px;
  font-weight: bold; 
  color: white;
  transition: border-color 0.3s;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
}

.rank_mask{
    z-index:4;
    position: absolute;
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0.2);

}

.rank_linkmask{
    z-index:6;
    position: absolute;
    width: 375px;
    height: 120px;
    background-color: rgba(0,0,0,0);
}

.a_link{
    z-index:5;
    width: 100%;
    height: 100%;
    display:block;
}

.a_link:hover{
    background-color: rgba(250,250,250,0.2);
}
