/*うんち*/
#category_body {
    z-index: 3;
    position: absolute;
    top: 150px;
    left: 20px;
}

#category_change {
    z-index: 3;
    position: absolute;
    top: 110px;
    left: 70px;
    width: 100px;
    height: 45px;
    font-weight: bold;
    margin: 0;
    font-size: 24px;
    border: solid #A9A9A9 1px;
    color: white;
    background-color: #3BA2C2;
    text-decoration: none;

    /*chrome*/
    -webkit-border-top-left-radius: 0.5vw; /*左上*/
    -webkit-border-top-right-radius: 0.5vw; /*右上*/
    -webkit-border-bottom-right-radius: 0.5vw; /*←反応してない*/
    -webkit-border-bottom-right-radius: 0.5vw; /*←反応してない*/
    -webkit-border-bottom-right-radius: 0.5vw; /*右下　ここだけ3つ書かないと反映しませんでした…*/
    -webkit-border-bottom-left-radius: 0.5vw; /*左下*/

    /*firefox*/
    -moz-border-radius: 0.5vw;

    text-align: center;
    -webkit-box-align: center;
}
